body{background-color: black}
#title{
    font-family: 'Raleway', sans-serif;
    color: rgb(38, 156, 224);
    font-size:4rem;
    width: 80%;
    margin: 0 auto;
}
.icon{
    width: 40%;
    position: absolute;
}
#food{
    top: 
}


#shopping{

}

#masks{

}