body{background-color: black;
color: white;
}
#title{
    font-family: 'Raleway', sans-serif;
    color: rgb(38, 156, 224);
    font-size:15vw;
}
.icon{
    height: 20vw;
    
    
}
.sub,
.option{
    font-size: 12vw;
}

